.nav-button-active {
    -fx-background-color: #f97316;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #1f2937;
    -fx-padding: 28 20;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.sidebar-subtitle {
    -fx-text-fill: #d1d5db;
    -fx-font-size: 13px;
}

.content {
    -fx-background-color: #f8fafc;
    -fx-padding: 30;
}

.primary-button {
    -fx-background-color: #f97316;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 11 18;
}

.primary-button:hover {
    -fx-background-color: #ea580c;
}
.flow-pane {
    -fx-hgap: 18;
    -fx-vgap: 18;
}

.book-card {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-padding: 18;
    -fx-pref-width: 180;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.08),
        18,
        0,
        0,
        4
    );

    -fx-border-color: #e5e7eb;
    -fx-border-radius: 18;
}

.book-card:hover {
    -fx-effect: dropshadow(
        gaussian,
        rgba(249,115,22,0.25),
        24,
        0,
        0,
        6
    );

    -fx-translate-y: -2;
}

.book-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
}

.book-author {
    -fx-font-size: 13px;
    -fx-text-fill: #6b7280;
}

.book-meta {
    -fx-font-size: 12px;
    -fx-text-fill: #9ca3af;
}

.status-read {
    -fx-background-color: #dcfce7;
    -fx-text-fill: #166534;
    -fx-padding: 4 10;
    -fx-background-radius: 999;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.status-pending {
    -fx-background-color: #fef3c7;
    -fx-text-fill: #92400e;
    -fx-padding: 4 10;
    -fx-background-radius: 999;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}