# ======================
# Eclipse
# ======================

.project
.classpath
.settings/

# ======================
# Java
# ======================

bin/
*.class

# ======================
# SQLite
# ======================

*.db
*.sqlite

# ======================
# Logs
# ======================

*.log

# ======================
# Configuración privada
# ======================

src/ftp.properties

# ======================
# macOS
# ======================

.DS_Store

# ======================
# Backups temporales
# ======================

openbiblio_backup.csv
